<div class='example-wrapper'>
    <div class='example-with-source'>
        <div class='example'>
            <div class='layout-wrapper' [id]='root'>
                <div class='wrapper'>
                    <div class='sidebar'>
                        <h3>Measures</h3>
                        <div>
                            <ul class="heroes">
                                <li *ngFor="let item of measureList; index as i">
                                    <button (click)="onMeasureChange(item.link)"
                                        [ngClass]="{'button-selected': item.isSelected}">{{item.title}} </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='content'>
                        <div class='details'>
                            <div>
                                <div style=" height: 100%" class='chart-block'>
                                    <div style="height:300px" class='s-dynamic-measures-line-chart' [id]='lineChartDM'>
                                    </div>
                                    <div style="height:300px" class='s-dynamic-measures-column-chart'
                                        [id]='columnChartDM'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
